/* This is a single-line comment */

body {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20240518/pngtree-cute-nature-beautiful-background-image_15796860.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
background-size: 100% 100%;
}

#headingOne {
 color : red;
}

div {
  background: rgba(0, 128, 0, 0.3); /* Green background with 30% opacity */
  text-align: center;
  padding: 20px;
  color: red;
}