body {
    font-family: 'Times New Roman', Times, serif;
}

.divOne {
    width: 400px;
    padding: 20px;
    border: 2px solid skyblue;
    /* background: #94e094; */
}
.divTwo {
    margin-top: 10px;
    padding: 20px;
    width: 400px;
    border: 2px solid darkcyan;
    /* background: #884242; */
    box-sizing: border-box;

}

